APP_NAME=movie-graph-rag-backend-fastapi
APP_ENV=development
APP_DEBUG=true
APP_PORT=8000

MONGO_URI=mongodb://localhost:27017/movie-graph-rag
GROQ_API_KEY=
FUSEKI_URL=http://localhost:3030
FUSEKI_DATASET=movies
JWT_SECRET=change_me
